.admins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.admin-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 70%;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}
